 //FlexCenter
 @mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 //FlexSpaceBetween
 @mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 }
 //gridCol
 @mixin grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
 }